@import 'mixin';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Responsive Breakpoints
$bp-largest: 140em; // 2240px
$bp-large:62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px

html {
  font-size: 62.5%;
  box-sizing: border-box;
  @media only screen and (max-width: $bp-large){
    font-size: 50%;
  }
}

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
}

body {
  font-family: "Josefin Sans", sans-serif;  
}

.container {
  margin: 0 auto;
  max-width: 110rem; 
  
}

// .hero {
//   width: 100%;
//   height: 90vh;
//   background-repeat: no-repeat;
//   background-color: transparent;
//   background-image: url('../images/desktop/image-hero.jpg');
//   @media only screen and (max-width: $bp-small){
//     background-image: url('../images/mobile/image-hero.jpg');
//   }
//   background-position: top center;
//   background-size: cover;
//   position: relative;
//   overflow-x: hidden;
//   &__nav {
//     width: 100%;
//     background-color: transparent;
//     & nav {
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//       padding: 5rem 4rem;
//       .hero__nav--menu {
//         transition: all .3s ease-in-out;
//         @include menu;
//         @media only screen and (max-width: $bp-medium){
//           position: absolute;
//           top: 0;
//           left: 100%;
//           background-color: var(--black);
//           flex-direction: column;
//           width: 100%;
//           height: 90vh;
//           z-index: 10;
//           justify-content: center;
//           padding-left: 4rem;
//           & li {
//             & a:link {
//               font-size: 4rem;
//               text-transform: uppercase;
//               font-weight: 100;
//             }
//           }
//         }
//       }
//       .hero__nav--logo {
//         z-index: 15;
//       }
//       .hero__nav--menu-check {
//         display: none;
//       }
//       .hero__nav--menu-check:checked ~ .hero__nav--menu {
//         transform: translateX(-100%);
//       }
//       .hero__nav--menu-check:checked ~ .hero__nav--menu-label {
//         background-image: url('../images/icon-close.svg');
//       }
//       .hero__nav--menu-label {
//         cursor: pointer;
//         width: 3rem;
//         height: 2.2rem;
//         background-repeat: no-repeat;
//         background-size: contain;
//         background-image: url('../images/icon-hamburger.svg');
//         z-index: 15;
//       }
//     }
//   }
//   &__text {
//     position: absolute;
//     width: 90%;
//     max-width: 110rem;
//     top: 50%;
//     left: 50%;
//     padding: 0 2rem;
//     transform: translate(-50%, -50%);
//     @media only screen and (max-width: $bp-medium){
//       display: flex;
//       justify-content: center;
//     }
//     &--message {
//       & h1 {
//         border: 2px solid var(--white);
//         margin: 0;
//         font-size: 5rem;
//         text-transform: uppercase;
//         line-height: 1.1;
//         display: inline-block;
//         padding: 3rem 10rem 3rem 3rem;
//         color: var(--white);
//         font-weight: 300;
//         @media only screen and (max-width: $bp-small){
//           font-size: 4rem;
//         }
//         & span {
//           display: block;
//         }
//       }
//     }
//   }
// }


// .interactive {
//   margin-top: 13rem;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   @media only screen and (max-width: $bp-large){
//     flex-direction: column;
//   }
//   &__image {
//     @media only screen and (max-width: $bp-large){
//       width: 80%;
//     }
//     & img {
//       @media only screen and (max-width: $bp-large){
//         width: 100%;
//       }
//     }
//   }
//   &__text {
//     margin-left: -16rem;
//     align-self: flex-end;
//     background-color: var(--white);
//     padding: 8rem 5rem 0 5rem;
//     display: flex;
//     flex-direction: column;
//     gap: 2.8rem;
//     @media only screen and (max-width: $bp-large){
//       margin-left: 0;
//       padding-top: 5rem;
//     }
//     @media only screen and (max-width: $bp-small){
//       text-align: center;
//     }
//     & h3 {
//       font-size: 3.6rem;
//       text-transform: uppercase;
//       font-weight: 300;
//     }
//     & p {
//       font-size: 1.3rem;
//       line-height: 1.5;
//       color: var(--dark-gray);
//     }
//   }
// }



// .creations {
//   margin-top: 13rem;
//   padding: 0 2rem;
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   grid-template-rows: 4rem 1fr 4rem;  
//   @media only screen and (max-width: $bp-large){
//     padding: 0 4rem;
//   }
//   &__title {
//     width: 100%;
//     @media only screen and (max-width: $bp-small){
//       grid-column: 1 / 3;
//       display: flex;
//       justify-content: center;
//     }
//     & h3 {
//       font-size: 3.6rem;
//       font-weight: 300;
//       text-transform: uppercase;
//     }
//   }
//   &__btn {
//     display: flex;
//     justify-content: flex-end;
//     @media only screen and (max-width: $bp-small){
//       grid-row: 3;
//       grid-column: 1 / 3;
//       display: flex;
//       justify-content: center;
//     }
//     & button {
//       text-transform: uppercase;
//       font-size: 1.2rem;
//       padding: 0 2.8rem;
//       letter-spacing: 1.6;
//       background-color: transparent;
//       border: 2px solid var(--dark-gray);
//       font-family: "Alata", sans-serif;
//       transition: all .2s ease-in-out;
//       cursor: pointer;
//     }
//     & button:hover {
//       background-color: var(--black);
//       color: var(--white);
//     }
//   }
//   &__gallery {
//     display: grid;
//     margin-top: 5rem;
//     grid-template-columns: repeat( auto-fit, minmax(25rem, 1fr));
//     grid-gap: 1rem;
//     grid-column: 1 / 3;
//     @media only screen and (max-width: $bp-small){
//       grid-template-columns: 1fr;
//       margin-bottom: 3rem;
//     }
//     &--img {
//       background-repeat: no-repeat;
//       position: relative;
//       background-size: cover;
//       cursor: pointer;
//       min-width: 25.6rem;
//       min-height: 45rem;
//       @media only screen and (max-width: $bp-small){
//         min-width: 24rem;
//         min-height: 18rem;
//         background-position: center;
//       }
//       & img {
//         opacity: 0;
//         visibility: hidden;
//       }
//       &_title {
//         position: absolute;
//         bottom: 0;
//         margin-left: 3rem;
//         margin-bottom: 3rem;
//         z-index: 10;
//         & p {
//           color: rgba(255, 255, 255, 0.67);
//           font-size: 2.6rem;
//           font-weight: 300;
//           text-transform: uppercase;
//           & span {
//             display: block;
//           }
//         }
//       }
//     }
//     &--img::after {
//       transition: all .2s ease-in-out;
//       content: '';
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 100%;
//       background-image: linear-gradient(20deg, rgba(0, 0, 0, 0.622), rgba(255, 255, 255, 0.011));
//       z-index: 1;
//     }
//     &--img:hover:after {
//       background-image: none;
//       background-color: rgba(255, 255, 255, 0.764);
//       z-index: 5;
//     }
//     &--img:hover p {
//       color: var(--black); 
//     }    
//     .deep-earth {
//       background-image: url('../images/desktop/image-deep-earth.jpg');
//     }
//     .night-arcade {
//       background-image: url('../images/desktop/image-night-arcade.jpg');
//     }
//     .soccer-team {
//       background-image: url('../images/desktop/image-soccer-team.jpg');
//     }
//     .image-grid {
//       background-image: url('../images/desktop/image-grid.jpg');
//     }
//     .from-above {
//       background-image: url('../images/desktop/image-from-above.jpg');
//     }
//     .pocket-borealis {
//       background-image: url('../images/desktop/image-pocket-borealis.jpg');
//     }
//     .curiosity {
//       background-image: url('../images/desktop/image-curiosity.jpg');
//     }
//     .fisheye {
//       background-image: url('../images/desktop/image-fisheye.jpg');
//     }
//     @media only screen and (max-width: $bp-small){
//       .deep-earth {
//         background-image: url('../images/mobile/image-deep-earth.jpg');
//       }
//       .night-arcade {
//         background-image: url('../images/mobile/image-night-arcade.jpg');
//       }
//       .soccer-team {
//         background-image: url('../images/mobile/image-soccer-team.jpg');
//       }
//       .image-grid {
//         background-image: url('../images/mobile/image-grid.jpg');
//       }
//       .from-above {
//         background-image: url('../images/mobile/image-from-above.jpg');
//       }
//       .pocket-borealis {
//         background-image: url('../images/mobile/image-pocket-borealis.jpg');
//       }
//       .curiosity {
//         background-image: url('../images/mobile/image-curiosity.jpg');
//       }
//       .fisheye {
//         background-image: url('../images/mobile/image-fisheye.jpg');
//       }
//     }
//   }
// }


// .footer {
//   margin-top: 13rem;
//   width: 100%;
//   background-color: var(--black);
//   padding: 3rem 4rem;
//   &__logo_social {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     grid-template-rows: 1fr 1fr;
//     @media only screen and (max-width: $bp-small){
//       grid-template-columns: 1fr;
//       grid-template-rows: 1fr;
//       justify-items: center;
//       grid-gap: 3rem;
//     }
//     & img {
//       height: 2rem;
//     }
//     &-net {
//       display: flex;
//       gap: 1.6rem;
//       justify-self: end;
//       @include menu;
//       @media only screen and (max-width: $bp-small){
//         justify-self: center;
//       }
//     }
//   }
//   &__menu_rights {
//     margin-top: 1rem;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     &--menu {
//       @include menu;
//       grid-row: 2;
//       grid-column: 1;
//       @media only screen and (max-width: $bp-small){
//         flex-direction: column;
//         align-items: center;
//       }
//     }
//     &--rights {
//       display: flex;
//       flex-direction: column;
//       gap: .4rem;
//       align-items: flex-end;
//       justify-content: center;
//       @media only screen and (max-width: $bp-small){
//         align-items: center;
//       }

//       & p {
//         color: var(--dark-gray);
//         font-size: 1.4rem;
//       }
//       & a:link,
//       & a:visited {
//         color: var(--very-dark-gray);
//         text-decoration: none;
//         cursor: pointer;
//       }
//     }
//   }
// }



.hidden {
  display: none;
}


