@import 'mixin';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Responsive Breakpoints
$bp-largest: 140em; // 2240px
$bp-large:62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px

html {
  font-size: 62.5%;
  box-sizing: border-box;
  @media only screen and (max-width: $bp-large){
    font-size: 50%;
  }
}

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
}

body {
  font-family: "Josefin Sans", sans-serif;  
}

.container {
  margin: 0 auto;
  max-width: 110rem; 
  
}

.hidden {
  display: none;
}


